venv/
.venv/
__pycache__/
*.pyc
.env
.pytest_cache
.coverage
htmlcov/
dist/
build/
*.egg-info/
redpanda-data/
clickhouse-data/
.idea/
.vscode/
.DS_Store

# Spark
spark-warehouse/
derby.log
metastore_db/

# IDE
.vscode/
.idea/

# Tools
.ruff_cache/
